<div class="white-box">
  <% if disable %>
    <fieldset disabled>
  <% end %>
  <%= form_for [:admins, topic], html: {multipart: true, class: "form-horizontal form-material"}, remote: true do |f|%>
    <div class="form-group">
      <%= f.label "Tiêu đề", class: "col-md-12 required" %>
      <div class="col-md-12">
        <%= f.text_field :title, class: "form-control form-control-line", placeholder: "Nhập tiêu đề", required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Chuyên mục", class: "col-sm-12 required" %>
      <div class="col-sm-12">
        <%= f.select :category_id, categories.collect{|category| [category.title, category.id]}, {}, {class: "form-control form-control-line"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Mô tả", class: "col-md-12" %>
      <div class="col-md-12">
        <%= f.text_area :description, class: "form-control form-control-line resize-vertical", placeholder: "Nhập mô tả", rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Trạng thái", class: "col-sm-12 required" %>
      <div class="col-sm-12">
        <%= f.select :status, Topic.statuses, {}, {class: "form-control form-control-line"} %>
      </div>
    </div>

    <% if !disable %>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit yield(:title), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if disable %>
    </fieldset>
  <% end %>
</div>
